.header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4rem 0;

    background-color: var(--blue-500);

    color: var(--blue-200);

    gap: 1rem;
    cursor: pointer;
}

.header strong {
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
}