:root {
  --blue-500:#262225;
  --blue-400:#29354B
  ;
  --blue-200:#4C8891;

  --blue-light:#A0C8C3;

  --gray: #ECEBE9;
  --red:#F75A68;
  --white:#EEEEEE
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  system-ui, 'Roboto Mono', monospace;
  font-weight: 400;
}

body {
  background-color: var(--blue-400);
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;

}

@media (max-width: 768px) {
  html {
      font-size: 87.5%
  }
}

@media (max-width: 425px) {
  html {
      font-size: 75%
  }
}
